.scrollarea{
  min-height: 500px;
}
.speech-bubble {
  position: relative;
  background: #e2e2e2f7;
  border-radius: .4em;
  padding: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
  float:left;
}
.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 4%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #e2e2e2f7;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}
.speech-bubble-right {
  position: relative;
  background: #007bff1f;
  border-radius: .4em;
  padding: 20px;
  float: right;
}
.speech-bubble-right:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 96%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #007bff1f;
  border-bottom: 0;
  border-right: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}
