<h1>My Cart</h1>
<hr>

<table id="users">

  <tr>
    <th *ngFor="let col of columns">
      {{col}}
    </th>
  </tr>
  <tr *ngFor="let u of listCart">
    <td *ngFor="let col of index">
      {{u[col]}}
    </td>
  </tr>

  <tr>
    <td style="border : 0px"></td>
    <td style="border : 0px"></td>
    <td style="border : 0px"></td>
    <td style="border : 0px">amount</td>
    <td style="border : 0px"> {{amount}}</td>
  </tr>

</table>
<br>
<button mat-raised-button color="primary" (click)="remove()"> Delete Cart </button>
<button mat-raised-button color="primary"  (click)="pay(amount)"> Pay </button>
<button mat-raised-button color="primary" routerLink="/management">Back</button>
<br><br>

